## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.idea/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json

## ASP.NET
ScaffoldingReadMe.txt

## dotnet
project.nuget.cache

## User-specific
*.csproj.user
*.dbmdl
*.jfm
*.pfx
*.publishsettings

## OS files
.DS_Store
Thumbs.db

## Publish output
*.Publish.xml
PublishScripts/
publish/
